<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>泰然金融</title>
    <meta name="apple-mobile-web-app-capable"  content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="description" content="北京银行存管，3年专业运营经验，百万用户的安心选择"/>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <meta name="format-detection"  content="telephone=no,email=no">
    <meta name="reload-enbaled" content="true">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
</head>
<body>
<div id="app" class="page-wrap"></div>
</body>
</html>

